<!DOCTYPE html>
<head>
    <title>Title</title>
    <link rel="stylesheet" href="/css/style1.css">
</head>
    <link rel="icon" href="/icons/favicon.ico">
    <meta charset="UTF-8">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <div id="div1" class="one">
    <table id="table1">
        <tr>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
    </table>
    </div>
<div id="div2"><pre id="json"></pre></div> <!--se agrega el <pre> para mostrar eljson con formato-->
<body>
<script type="text/javascript" src="/js/Example.js"></script>
</body>
</html>